section.block-about.block-about--margin
    img(src="../img/service-cards/tatoo-shadow-small.jpg", alt="tatoo-eyelash-inner" width='555' height="721" class="block-about__photo")
    .block-about__description.block-about__description--align
        h2.subtitle.subtitle--changed.title--bottom-line-left
            | Что такое татуаж стрелок с растушёвкой и что он даёт
        p.text.text--standart.text--dark.mt-45
            | Классика перманентного макияжа. Татуаж стрелок с растушёвкой —  это прорисовка классической стрелки нужной формы и мягкая растушевка пигментом по краю глаз. Мастер ювелирно наносит точки пигмента, поэтому растяжка цветом смотрится аккуратно и не вычурно. Татуаж век с растушевкой делает взгляд ясным и открытым, скрывает недостатки формы глаз, освежает лицо и придаёт ему ухоженность. 
        
        ul.list.list--service-descr
            +listService("Помогает всегда выглядеть нарядно")
            +listService("Подходит девушкам любого цветотипа")
            +listService("Мягко корректирует форму глаз")
            +listService("Скрывает недостатки: мимические и возрастные морщины")
            +listService("Облегчает утренние сборы на работу")
            +listService("Экономит время на подкрашивание глаз")
            +listService("Не размазывается под дождём, в море или на пенной вечеринке")