section.section--side-pad
    h2.title.title--pos-left.title--bottom-line-left.title--margin
        | Консультируем и записываем
    
    ul.list.list--advantages.list--advantages--margin.list--flex.list--bottom-line
        li
            img(src="../img/icons/time.svg", alt="time")
            p.section-makeup__advantages--title
                | Режим работы
            p.text.text--standart 
                | Пн—Сб с 10 до 19 
        li 
            img(src="../img/icons/mobile-phone.svg", alt="mobile")
            p.section-makeup__advantages--title
                | Звоните / пишите
            p.text.text--standart 
                | +7 (962) 163-66-44 #[br](Телегам, Вотсап, Вайбер)
        li 
            img(src="../img/icons/location-big.svg", alt="location")
            p.section-makeup__advantages--title
                | Дербенёв Центр
            p.text.text--standart 
                | Жиделева 21, офис 301
        li 
            img(src="../img/icons/bank-card.svg", alt="bank-card")
            p.section-makeup__advantages--title
                | Оплата
            p.text.text--standart 
                | Можно платить картами через #[br]терминал или переводом
a(href="#" class="link link--arrow-size link--arrow-right link--margin text text--bigger link--pad") 
        | Возможна бесплатная парковка вдоль улицы Жиделёва или на парковке бизнес-центра