section.block.block--flex.block--margin.block--size
    .block__img.block__img--left.block__img--size
        img(src="../img/map.jpg", alt="материалы" width="635" height="533")
    .block__text.block__text--pad1.block__text--size-changed
        h3.subtitle.title--bottom-line-left
            | Как найти наш салон
        p.text.text--light.text--big.mt-60
            | Вход в бизнес-центр со стороны улицы Жиделёва, а не с Громобоя. 
        p.text.text--light.text--big
            | Заходите в здание и оказываетесь на 2-ом этаже. Мы находимся на 3-ем. Поворачиваете направо, идёте по коридору. Прямо передва ми будет лестница. Поднимаетесь на один этаж и поворачиваете налево. Идёте прямо по коридору. Наш салон третий справа: белая дверь с надписью «Antipina Studio».