section.block-about.block-about--margin1
    img(src="../img/service-cards/tatoo-remove-1.jpg", alt="card img" width='575' height="459" class="block-about__photo")
    .block-about__description.block-about__description--align.block-about__description--pad1
        p.text.text--bigger.text--lh.mt-15
            | В Студии Антипиной татуировки удаляют неодимовым лазером последнего поколения Q-switch. На сегодня это самый эффективный инструмент для удаления цветных и однотонных татуировок. С помощью неодимового лазера мастера нашей Студии восстанавливают естественный вид вашей кожи без остатков пигмента, ожогов и рубцов