section
    ul.list.list--advantages.list--flex
        li 
            img(src="../img/icons/thumb.svg", alt="icon-prize")
            p.section-makeup__advantages--title
                | Эффективно
            p.section-makeup__advantages--text
                | Лазерный луч несёт энергию, которая нагревает и разрушает пигмент на мелкие частицы, которые постепенно выходят из кожи
        li 
            img(src="../img/icons/heart.svg", alt="icon-techniques")
            p.section-makeup__advantages--title
                | Безопасно
            p.section-makeup__advantages--text
                | Неодимовый лазер последнего поколения разрушает только краску, не повреждая здоровую кожу
        li 
            img(src="../img/icons/clock.svg", alt="icon-equipment")
            p.section-makeup__advantages--title
                | Быстро
            p.section-makeup__advantages--text
                | Не обещаем, что выведем любую татуировку за один сеанс. Для сложных и больших тату потребуется курс. Но динамику вы оцените на первой же процедуре. 
        li 
            img(src="../img/icons/diamond.svg", alt="icon-diamond")
            p.section-makeup__advantages--title
                | Результативно	
            p.section-makeup__advantages--text
                | После курса процедур остаётся совершенно чистая кожа, без следов и шрамов.