section.section.section--top-margin
    h2.title.title--pos-left.title--bottom-line-left.title--margin-side
        | Чем работаем
    .section-inner__wrapper.mt-90
        +cardWork("tatoo-remove-2.jpg", "Удаляем тату лазером", "Используем современный Nd:YAG лазер с модулятором Q-switch. Он генерирует лазерный луч с длиной волны 1064 нм, который без повреждения проходит верхние слои кожи и разрушает только пигмент татуажа. Модулятор добротности Q-switch делает вспышки лазера очень короткими: 1/1 000 000 доля секунды. За это ткани, окружающие татуировку, не успевают нагреться, поэтому после процедуры не остается ожогов и шрамов, нет периода реабилитации, а заживление проходит легко")
        +cardWork("tatoo-remove-3.jpg", "Удаляем тату ремувером", "Ремувер — это специальный химический состав, который тонкой иглой вводится под кожу с помощью аппарата для перманентного макияжа. Состав попадает в тот же слой кожи, куда раньше вводился пигмент, и выводит краску на поверхность. Ремувер позволяет удалять татуировки, с которыми не справляется лазер. ")