h2.title.title--bottom-line.title--margin
    | Примеры удаления тату «до» и «после»
.section-wrapper--insta
    
    .btn__wrapper.btn__wrapper--insta
        button(class="btn btn--light btn--size-header btn--mt20" type="button")
            | ПОДПИСАТЬСЯ
        button(class="btn btn--dark btn--size-header" type="button")
            | ПОСМОТРЕТЬ
section.insta__wrapper.insta__wrapper--margin.insta__wrapper--padding.insta__wrapper--line
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    a(href="#" class="link link--arrow-size link--arrow-right link--margin text text--bigger") 
        | Больше фотографий межресничного татуажа в нашем Инстаграме