h2(class="title title--bottom-line title--margin")
    | Мастера удаления тату
section(class="specialist__wrapper" id="masters")
    +cardSpecialist("Ksenya-master.jpg", "Ксения Антипина", "Чемпион 2018 года по татуажу Мастер, коуч, хозяйка студии", "от 6 000 ₽")
    +cardSpecialist("Nataly-master.jpg", "Мастер Наталья", "Чемпион 2018 года по татуажу Мастер, коуч, хозяйка студии", "от 4 000 ₽")