//- section.section-materials__wrapper.section-materials__wrapper--margin
//-     .section-materials__img.section-materials__img--size.section-materials__img--position
//-         img(src="../img/service-cards/tatoo-remove-6.jpg", alt="материалы" width="584" height="560")
//-     .section-materials__descr.section-materials--pad1
//-         h3.subtitle.title--bottom-line-left
//-             | Без боли, отёков и рубцов — чистая кожа без намёка на татуировки
//-         p.subtitle--colored.mt-50
//-             | мы удаляем:
//-         ul.list.list--materials-descr.mt-30
//-             li.list__item.list__item--cross.list__item--margin2
//-                 | Цветные татуировки
//-             li.list__item.list__item--cross.list__item--margin2
//-                 | Однотонные татуировки
//-             li.list__item.list__item--cross.list__item--margin2
//-                 | Некрасивый перманентный макияж
//-             li.list__item.list__item--cross.list__item--margin2
//-                 | Любые следы пигмента на любой части тела

section.block.block--flex.block--margin.block--size
    .block__img.block__img--left.block__img--size-medium
        img(src="../img/service-cards/tatoo-remove-6.jpg", alt="материалы" width="584" height="560")
    .block__text.block__text--pad2.block__text--size1
        h3.subtitle.title--bottom-line-left
            | Без боли, отёков и рубцов — чистая кожа без намёка на татуировки
        p.subtitle--colored.mt-50
            | мы удаляем:
        ul.list.list--materials-descr.mt-30
            li.list__item.list__item--cross.list__item--margin2
                | Цветные татуировки
            li.list__item.list__item--cross.list__item--margin2
                | Однотонные татуировки
            li.list__item.list__item--cross.list__item--margin2
                | Некрасивый перманентный макияж
            li.list__item.list__item--cross.list__item--margin2
                | Любые следы пигмента на любой части тела