section
    .section-inner__wrapper.section-inner__wrapper--flex.section-inner__wrapper--width
        .card-advantage.card-advantage--width.card-advantage--pad
            h3.subtitle
                | Удаляем
            ul.list.list--font-bigger
                li.list__item.list__item--check.list__item--margin
                    | Профессиональные и любительские татуировки
                li.list__item.list__item--check.list__item--margin
                    | Старые и глубокие татуировки
                li.list__item.list__item--check.list__item--margin
                    | Цветные и однотонные тату
                li.list__item.list__item--check.list__item--margin
                    | Перманентный татуаж
        .card-advantage.card-advantage--width.card-advantage--pad
            h3.subtitle
                | Не удаляем 
            ul.list.list--font-bigger
                li.list__item.list__item--cross.list__item--margin
                    | Татуировки более 40 см2
                li.list__item.list__item--cross.list__item--margin
                    | Жёлтые, розовые, фиолетовые, зеленые, голубые тату