section.section--bg.section--size.section--pad.section--top-margin1
    .block-inner.block-inner--pad.block-inner--size.block-inner--position
        .block-inner__bg
        h3.subtitle
            | Хотите свести тату?
        p.text.text--standart.mt-15
            | Отправьте фото в Телеграм, узнайте прогноз, стоимость и приходите на удаление
        button(class="btn btn--dark btn--size-form btn--center mt-40" type="button")
            | Отправить фото
