h2.title.title--bottom-line.title--margin
    | Как проходит удаление тату
section.section-stages 
    .section-stages__item.text.text--standart
        span.text--bold 
            | Консультация и осмотр
        p Составляем план сеансов, который зависит от размера, цвета и возраста тату
    .section-stages__item.text.text--standart
        span.text--bold 
            | Подготовка
        p Обрабатываем кожу раствором антисептика. При необходимости наносим охлаждающий гель-анестетик. Ожидание действия анестетика 15-30 минут
    .section-stages__item.text.text--standart
        span.text--bold 
            | Обработка тату лазером
        p Длительность процедуры зависит от размера татуировки. Удаление одной зоны при татуаже занимает 10—30 минут. Татуировки среднего размера удаляем за 30-45 минут, большие — от 1 часа
    .section-stages__item.text.text--standart
        span.text--bold 
            | Постобработка
        p После процедуры мастер обрабатывает рабочий антисептиком и пантенолом