section.block.block--flex.block--margin.block--size
    .block__img.block__img--left.block__img--size
        img(src="../img/service-cards/tatoo-remove-5.jpg", alt="материалы" width="596" height="440")
    .block__text.block__text--pad1.block__text--size-changed
        h3.subtitle.title--bottom-line-left
            | Лазерное удаление — это больно
        p.text.text--standart.text--lh.mt-60
            | Не будем вас обманывать: свести татуировку лазером больнее, чем набить. Поэтому при удалении больших татуировок и низком болевом пороге у клиента мы используем охлаждение
        button(class="btn btn--dark btn--size mt-60" type="button")
            | Записаться на бесплатную консультацию