section.block-about.block-about--margin
    img(src="../img/service-cards/brows-correction1.jpg", alt="card img" width='471' height="524" class="block-about__photo")
    .block-about__description.block-about__description--align.block-about__description--pad-smaller.block-about__description--form-changed
        h2.subtitle.subtitle--small
            | Архитектура бровей
        p.text.text--standart.mt-15
            | это проектирование идеальных бровей под особенности вашего лица. Во-первых, формы: изгиба, длины и ширины дуги.  Во-вторых, оттенка и способа окрашивания: краской или хной. Коррекция бровей — удаление нежелательных волосков с помощью пинцета, нити или воска
        ul.list.list--font-bigger.list--margin
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Брови приобретают чёткость и яркость, долго не смываются
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Лицо становится более выразительным и ухоженным
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Почти месяц не нужно беспокоиться о макияже 
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Светлые брови можно сделать темнее, а чёрные — осветлить на пару тонов
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Не нужно постоянно поправлять макияж и бояться, что он потечёт