section.section.section--margin.section--pad
    h3.subtitle.title--bottom-line-left
        | Почему за коррекцией бровей именно к нам
    .section__wrapper.section__wrapper--flex.section__wrapper--margin.section__wrapper--pad
        .card.card--width.card--margin
            .card__img 
                img(src="../img/icons/eye.svg", alt="icon")

            h4.card__title.card__title--margin
                | Стойкий эффект
            p.card__text.card__text--margin.text.text--standart
                | Моделирование, коррекция и окраска бровей помогут вам долгое время наслаждаться красотой
        .card.card--width.card--margin
            .card__img 
                img(src="../img/icons/bottles.svg", alt="icon")
            h4.card__title.card__title--margin
                | Проверенные средства
            p.card__text.card__text--margin.text.text--standart
                | Пользуемся продукцией проверенных брендов, чтобы процедуры давали нужный результат и проходили без проблем
        .card.card--width.card--margin
            .card__img 
                img(src="../img/icons/prize.svg", alt="icon")
            h4.card__title.card__title--margin
                | Профессиональные мастера
            p.card__text.card__text--margin.text.text--standart
                | С опытом работы от 3 лет гарантируют, что вы получите ожидаемый результат.
        .card.card--width.card--margin
            .card__img 
                img(src="../img/icons/techniques.svg", alt="icon")
            h4.card__title.card__title--margin
                | Стерильность и безопасность
            p.card__text.card__text--margin.text.text--standart
                | Инструменты проходят дезинфекцию в соответствии со всеми требованиями.