h2.title.title--bottom-line.title--margin
    | Этапы архитектуры бровей
section.section-stages 
    .section-stages__item.text.text--standart
        span.text--bold 
            | Подбор формы бровей
        | под особенности лица и пожелания
    .section-stages__item.text.text--standart
        span.text--bold 
            | Коррекция формы бровей
        p при помощи пинцета, нити или воска
    .section-stages__item.text.text--standart
        span.text--bold 
            | Подготовка к окрашиванию
        p скраб, очищение
    .section-stages__item.text.text--standart
        span.text--bold 
            | Прорисовка контура
        p под окрашивание
    .section-stages__item.text.text--standart
        span.text--bold 
            | Подбор оттенка и способа
        p  окрашивания: краска или хна
    .section-stages__item.text.text--standart
        span.text--bold 
            | Консультация
        p  по уходу и макияжу