section.block.block--flex.block--margin.block--size 
    .block__text.block__text--flex-order.block__text--pad-left.block__text--size-smaller
        h3.subtitle.title--bottom-line-left
            | Показания
        ul.list.list--font-bigger.list--margin
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Редкие или обесцвеченные брови
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Непослушные, плохо поддающиеся укладке
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Перещипанные брови
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Неправильная форма бровей
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Физические изъяны: шрамы, рубцы
    .block__img.block__img--left.block__img--size-bigger.block__img--flex-order
        img(src="../img/service-cards/brows-correction2.jpg", alt="материалы" width="738" height="435")

section.block.block--flex.block--margin-smaller.block--size.block--pad-bottom.block--bottom-line  
    .block__img.block__img--left.block__img--size-narrow
        img(src="../img/service-cards/brows-correction3.jpg", alt="материалы" width="424" height="505")
    .block__text.block__text--pad.block__text--size
        h3.subtitle.title--bottom-line-left
            | Противопоказания
        ul.list.list--font-bigger.list--margin
            li.list__item.list__item--cross.list__item--margin
                | Повреждение кожи на участке удаления волосков
            li.list__item.list__item--cross.list__item--margin
                | Открытые очаги воспаления и ожоги на лице 
            li.list__item.list__item--cross.list__item--margin
                | Аллергическая реакция на краситель
            li.list__item.list__item--cross.list__item--margin
                | Воспалительные заболевания кожи
            li.list__item.list__item--cross.list__item--margin
                | Раздражение, сыпь или иные повреждения кожи в зоне коррекции
            li.list__item.list__item--cross.list__item--margin
                | Коньюктивит