section.block-about.block-about--margin
    img(src="../img/service-cards/tatoo-mixed1.jpg", alt="card img" width='471' height="572" class="block-about__photo")
    .block-about__description.block-about__description--align.block-about__description--pad.block-about__description--form-changed
        h2.subtitle.subtitle--small
            | Татуаж бровей в смешанной технике
        p.text.text--standart.mt-15
            | Смешанный татуаж — это ультрасовременная техника. Она совмещает сразу два вида перманентного макияжа: волосковую технику и пудровое напыление. За счёт прорисовки каждого волоска брови выглядят очень натурально, а заполнение пространства между волосками цветом и растушёвка пигмента придают объём и насыщенный оттенок.
        p.text.text--standart
            | В результате брови выглядят так, как будто брови накрасили мягким карандашом или тенями. Смотрится красиво и естественно: это ваши собственные брови идеальной формы, подведённые аккуратно и умеренно.