section.block.block--flex.block--margin.block--size.block--pad-bottom.block--bottom-line   
    .block__text.block__text--flex-order.block__text--pad-left.block__text--size
        h3.subtitle.title--bottom-line-left
            | С помощью смешанного татуажа можно
        ul.list.list--font-bigger.list--margin
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Сделать акцент на глазах и изменить образ
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Сделать свои брови идеально очерченными, густыми, красивыми
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Выглядеть ухоженной и красивой 24 часа в сутки, не пользуясь карандашом и тенями
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Придать бровям правильный изгиб, чтобы сделать акцент на глазах
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Скрыть асимметрию дефекты в области бровей
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Визуально поднять брови, исправить «тяжёлый» взгляд
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Получить лишние 30 минут времени, свободного от макияжа
    .block__img.block__img--left.block__img--size-narrow.block__img--flex-order
        img(src="../img/service-cards/tatoo-mixed2.jpg", alt="материалы" width="474" height="555")









         






