.header {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 1px 85px 60px 50px;
    display: flex;
    align-items: flex-end;
}

.header__slider {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.header__title {
    position: relative;
    height: max-content;
}