section.block-about.block-about--margin1
    img(src="../img/service-cards/piercing.jpg", alt="card img" width='525' height="459" class="block-about__photo")
    .block-about__description.block-about__description--align.block-about__description--pad1
        p.text.text--bigger.text--lh.mt-15
            | Мы знаем, что для многих людей пирсинг — средство привлечь внимание, для других — вызов обществу или отождествление с субкультурой, для третьих — просто желание красоты и интерес. #[br]Мы разберёмся, что вами движет и сделаем проколы под ваши пожелания. Расскажем о разных видах пирсинга, стерилизации, уходе, материалах и украшениях. Ответим на все вопросы.
