section.section--side-pad
    h2.title.title--pos-left.title--bottom-line-left.title--margin
        | Почему к нам
    ul.list.list--advantages.list--advantages--margin.list--flex
        li
            img(src="../img/icons/heart.svg", alt="heart")
            p.section-makeup__advantages--title
                | Безопасность
            p.section-makeup__advantages--text
                | Только одноразовые расходные материалы. Стерильность, как в медицинском кабинете
        li 
            img(src="../img/icons/diamond.svg", alt="icon-diamond")
            p.section-makeup__advantages--title
                | Уровень
            p.section-makeup__advantages--text
                | Проколы любой сложности, любим нестандартные задачи
        li 
            img(src="../img/icons/prize.svg", alt="prize")
            p.section-makeup__advantages--title
                | Мастерство
            p.section-makeup__advantages--text
                | Только сертифицированные мастера с опытом работы от 2-х лет
        li 
            img(src="../img/icons/decoration.svg", alt="decoration")
            p.section-makeup__advantages--title
                | Украшения
            p.section-makeup__advantages--text
                | Серьги, штанги, микродермалы из медицинской стали, титана. Способствуют быстрому заживлению