section.section--side-pad
    h2.title.title--pos-left
        | Делаем разный пирсинг
    p.text.text--bigger.title--bottom-line-left-low.mt-15
        | Выбирайте, что вам хочется 
    ul.list.list--advantages.list--advantages--margin.list--flex
        li
            img(src="../img/icons/nose-piercing.svg", alt="nose-piercing")
            p.section-makeup__advantages--title
                | Пирсинг носа
        li 
            img(src="../img/icons/brows-piercing.svg", alt="brows-piercing")
            p.section-makeup__advantages--title
                | Пирсинг бровей
        li 
            img(src="../img/icons/belly-piercing.svg", alt="piercing")
            p.section-makeup__advantages--title
                | Пирсинг пупка
        li 
            img(src="../img/icons/toung-piercing.svg", alt="toung-piercing")
            p.section-makeup__advantages--title
                | Пирсинг языка
        li 
            img(src="../img/icons/lips-piercing.svg", alt="lips-piercing")
            p.section-makeup__advantages--title
                | Пирсинг губы
        li 
            img(src="../img/icons/piercing.svg", alt="piercing")
            p.section-makeup__advantages--title
                | Пирсинг сосков
        li 
            img(src="../img/icons/ears-piercing.svg", alt="ears-piercing")
            p.section-makeup__advantages--title
                | Пирсинг ушей
        li 
            img(src="../img/icons/microderm-piercing.svg", alt="microderm-piercing")
            p.section-makeup__advantages--title
                | Микродермалы