h2.title.title--bottom-line.title--margin
    | Частые вопросы по пирсингу 
section.section-wrapper--questions 
    button(type="button" class="btn--question collapsible")
        | Будет больно?
    .block-answer
        p.text.text--standart
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis excepturi quaerat vitae, tempora ducimus mollitia aut deserunt quam officiis neque nihil inventore suscipit repellendus rem repudiandae. Illo molestiae ut vitae blanditiis animi itaque culpa, aut ad nostrum! Placeat distinctio quaerat harum esse eius laboriosam fugit. Dolor aut tenetur animi harum.
    button(type="button" class="btn--question collapsible")
        | Как подготовиться? 
    .block-answer
        p.text.text--standart
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis excepturi quaerat vitae, tempora ducimus mollitia aut deserunt quam officiis neque nihil inventore suscipit repellendus rem repudiandae. Illo molestiae ut vitae blanditiis animi itaque culpa, aut ad nostrum! Placeat distinctio quaerat harum esse eius laboriosam fugit. Dolor aut tenetur animi harum.
    button(type="button" class="btn--question collapsible")
        | Как выбрать первое украшение? 
    .block-answer
        p.text.text--standart
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis excepturi quaerat vitae, tempora ducimus mollitia aut deserunt quam officiis neque nihil inventore suscipit repellendus rem repudiandae. Illo molestiae ut vitae blanditiis animi itaque culpa, aut ad nostrum! Placeat distinctio quaerat harum esse eius laboriosam fugit. Dolor aut tenetur animi harum.

    button(type="button" class="btn--question collapsible")
        | Есть противопоказания к пирсингу? 
    .block-answer
        p.text.text--standart
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis excepturi quaerat vitae, tempora ducimus mollitia aut deserunt quam officiis neque nihil inventore suscipit repellendus rem repudiandae. Illo molestiae ut vitae blanditiis animi itaque culpa, aut ad nostrum! Placeat distinctio quaerat harum esse eius laboriosam fugit. Dolor aut tenetur animi harum.

    button(type="button" class="btn--question collapsible")
        | Как ухаживать за проколом? 
    .block-answer
        p.text.text--standart
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis excepturi quaerat vitae, tempora ducimus mollitia aut deserunt quam officiis neque nihil inventore suscipit repellendus rem repudiandae. Illo molestiae ut vitae blanditiis animi itaque culpa, aut ad nostrum! Placeat distinctio quaerat harum esse eius laboriosam fugit. Dolor aut tenetur animi harum.
    button(type="button" class="btn--question collapsible")
        | Что нельзя делать до заживления?
    .block-answer
        p.text.text--standart
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis excepturi quaerat vitae, tempora ducimus mollitia aut deserunt quam officiis neque nihil inventore suscipit repellendus rem repudiandae. Illo molestiae ut vitae blanditiis animi itaque culpa, aut ad nostrum! Placeat distinctio quaerat harum esse eius laboriosam fugit. Dolor aut tenetur animi harum.