h2.title.title--pos-left.title--bottom-line-left.title--margin
    | Используем качественные украшения
p.text.text--standart.text__box--width
    | Правильное украшение гладкое, правильной формы и веса, с хорошей резьбой.  Рекомендуем украшения из имплантационных металлов: медицинская сталь, титан, —  чтобы свести к нулю риск отторжения и аллергию
section.insta__wrapper.insta__wrapper--pos-left.insta__wrapper--margin.insta__wrapper--padding.insta__wrapper--line
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    a(href="#" class="link link--arrow-size link--arrow-right link--margin text text--bigger link--pad") 
        | Больше фотографий в нашем Инстаграме