h2.title.title--bottom-line.title--margin
    | Как мы делаем пирсинг
section.section-stages 
    .section-stages__item.text.text--standart
        span.text--bold 
            | Согласие
        p Просим вас заполнить #[br(class="br-d-none-mobile")]согласие на процедуру
    .section-stages__item.text.text--standart
        span.text--bold 
            | Подготовка
        p Обрабатываем кожу #[br(class="br-d-none-mobile")]антисептиком
    .section-stages__item.text.text--standart
        span.text--bold 
            | Разметка
        p На этом этапе можно изменить положение положение прокола
    .section-stages__item.text.text--standart
        span.text--bold 
            | Анестезия
        p При необходимости или по желанию делаем обезболиваем
    .section-stages__item.text.text--standart
        span.text--bold 
            | Прокол
        p Делаем прокол, вставляем и закрепляем украшение
    .section-stages__item.text.text--standart
        span.text--bold 
            | Зеркало
        p Можно любоваться #[br(class="br-d-none-mobile")]результатом