section.block-about.block-about--margin
    img(src="../img/service-cards/tatoo-arrows-small.jpg", alt="tatoo-eyelash-inner" width='555' height="721" class="block-about__photo")
    .block-about__description.block-about__description--align
        h2.subtitle.subtitle--changed.title--bottom-line-left
            | Что такое татуаж стрелок и что он даёт
        p.text.text--standart.text--dark.mt-45
            | Татуаж стрелок на глазах — введение пигмента в кожу век, чтобы создать эффект подводки глаз, заканчивающийся стрелкой различной формы. Стрелки позволяют скорректировать разрез глаз и визуально увеличивают объём ресниц. Стрелки подойдут женщинам любого цветотипа и типажа, станут ярким акцентом образа.
        
        ul.list.list--service-descr
            +listService("Вы не переживаете о качестве макияжа")
            +listService("Вы во всеоружии днём и ночью ")
            +listService("Вам не нужно каждый день выводить стрелки на глазах")
            +listService("У вас есть свободное время на сон, спорт, отдых")



