section.block-about.block-about--margin
    img(src="../img/service-cards/brows-blending2.jpg", alt="card img" width='407' height="547" class="block-about__photo")
    .block-about__description.block-about__description--align.block-about__description--pad.block-about__description--form-changed
        h2.subtitle.subtitle--small
            | Что такое микроблейдинг
        p.text.text--standart.mt-15
            | Это ручная техника татуажа, которая позволяет быстро и безболезненно сделать красивые брови красивыми. Micro — маленький, blade — лезвие. С помощью специальной «ручки-манипулы» с тончайшим лезвием мастер делает небольшие надрезы и вводит пигмент под кожу. 
        p.text.text--standart
            | В результате получаются аккуратные, тщательно прорисованные брови, которые не отличить от натуральных. Микроблейдинг  позволяет отрисовать брови с филигранной точностью. Такой татуаж гарантирует максимальную естественность и воздушность бровей. Пигмент приживается с первого раза и обеспечивает продолжительный результат.
