h2.title.title--bottom-line.title--margin
    | Ответы на частые вопросы
section.section-wrapper--questions 
    button(type="button" class="btn--question collapsible")
        | Как проходит заживление? 
    .block-answer
        p.text.text--standart
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis excepturi quaerat vitae, tempora ducimus mollitia aut deserunt quam officiis neque nihil inventore suscipit repellendus rem repudiandae. Illo molestiae ut vitae blanditiis animi itaque culpa, aut ad nostrum! Placeat distinctio quaerat harum esse eius laboriosam fugit. Dolor aut tenetur animi harum.
    button(type="button" class="btn--question collapsible")
        | Как ухаживать за бровями? 
    .block-answer
        p.text.text--standart
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis excepturi quaerat vitae, tempora ducimus mollitia aut deserunt quam officiis neque nihil inventore suscipit repellendus rem repudiandae. Illo molestiae ut vitae blanditiis animi itaque culpa, aut ad nostrum! Placeat distinctio quaerat harum esse eius laboriosam fugit. Dolor aut tenetur animi harum.
    button(type="button" class="btn--question collapsible")
        | Когда и зачем нужна коррекция?
    .block-answer
        p.text.text--standart
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis excepturi quaerat vitae, tempora ducimus mollitia aut deserunt quam officiis neque nihil inventore suscipit repellendus rem repudiandae. Illo molestiae ut vitae blanditiis animi itaque culpa, aut ad nostrum! Placeat distinctio quaerat harum esse eius laboriosam fugit. Dolor aut tenetur animi harum.

    button(type="button" class="btn--question collapsible")
        | Как долго сохранится результат?
    .block-answer
        p.text.text--standart
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis excepturi quaerat vitae, tempora ducimus mollitia aut deserunt quam officiis neque nihil inventore suscipit repellendus rem repudiandae. Illo molestiae ut vitae blanditiis animi itaque culpa, aut ad nostrum! Placeat distinctio quaerat harum esse eius laboriosam fugit. Dolor aut tenetur animi harum.
    button(type="button" class="btn--question collapsible")
        | Как есть противопоказания к микроблейдингу?
    .block-answer
        p.text.text--standart
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis excepturi quaerat vitae, tempora ducimus mollitia aut deserunt quam officiis neque nihil inventore suscipit repellendus rem repudiandae. Illo molestiae ut vitae blanditiis animi itaque culpa, aut ad nostrum! Placeat distinctio quaerat harum esse eius laboriosam fugit. Dolor aut tenetur animi harum.
