h2.title.title--bottom-line.title--margin
    | Как проходит процедура микроблейдинга

section.section-stages 
    .section-stages__item.text.text--standart
        span.text--bold 
            | Консультация
        p Мастер отвечает на вопросы, консультирует по особенностям техники. На основе вашего типажа, строения лица, цвета кожи, глаз и волос подбирает форму и оттенок бровей. Затем мастер наносит на брови эскиз и согласовывает его с вами
    .section-stages__item.text.text--standart
        span.text--bold 
            | Обезболивание
        p Мастер наносит профессиональную #[br(class="br-d-none-mobile")]анестезию. Средство действует быстро #[br(class="br-d-none-mobile")]и эффективно, боли не будет
    .section-stages__item.text.text--standart
        span.text--bold 
            | Татуаж
        p Мастер вручно прорисовывает каждую #[br(class="br-d-none-mobile")]волосинку в выбранной вами технике
    .section-stages__item.text.text--standart
        span.text--bold 
            | Консультация после татуажа
        p Мастер показывает результат и объясняет, как ухаживать за бровями после во время заживления
    .section-stages__item.text.text--standart
        span.text--bold 
            | Запись на коррекцию
        p  Мастер записывает вас на коррекцию, на которую нужно прийти через месяц. Коррекция поможет убрать мелкие недостатки, подправить форму, сделать брови идеальными