section.block.block--flex.block--margin.block--size.block--pad-bottom.block--bottom-line   
    .block__text.block__text--flex-order.block__text--pad-left.block__text--size
        h3.subtitle.title--bottom-line-left
            | Татуаж бровей поможет
        ul.list.list--font-bigger.list--margin
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Сделать брови идеально симметричными и густыми
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Выглядеть ухоженной 24 часа в сутки
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Не пользоваться карандашом или тенями для бровей при дневном макияже.
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Сэкономить на макияже до 30 утренних минут каждый день
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Придать бровям совершенную форму, скорректировать асимметрию.
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Исправить редкие или слишком светлые брови
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Замаскировать косметические несовершенства: шрамы, рубцы
    .block__img.block__img--left.block__img--size-narrow.block__img--flex-order
        img(src="../img/service-cards/brows-blending1.jpg", alt="материалы" width="407" height="547")
p.text.text--bigger.block--width.block--pad-left.mt-50
    | Микроблейдинг, в отличии от напыления, предполагает более свободную прорисовку волосков. Мастер отталкивается от особенностей ваших бровей: формы, направления роста, густоты волосков, — и имитирует натуральную бровь надрезами разной длины.

         






