.btn {
    position: relative;
    font-family: 'Circe-Regular';
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    transition: all 0.4s ease-out;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
}

.btn__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    & .btn:last-child {
        margin-top: 20px;
    }

    &--changed {
        display: flex;
        flex-direction: column;
        width: 100%;

        & .btn:last-child {
            margin-top: 20px;
        }
    }

    @media(min-width: 576px) {
        width: 70%;
        &--changed {
            width: fit-content;
        }
    }

    @media(min-width: 768px) {
        width: 47%;
    }

    @media(min-width: 992px) {
        width: auto;
    }
}

.btn--size {
    width: auto;
    padding: 0.71em 2.5em;

    @media(min-width: 992px) {
        width: fit-content;
    }
}

.btn--size-small {
    font-size: 11px;
    line-height: 1.5;

    @media(min-width: 576px) {
        font-size: 14px;
        line-height: 21px;
    }
}


.btn--light {
    color: #000000;
    background: #ffffff;
    border: 1px solid #000000;

    &:hover,
    &:focus,
    &:active {
        outline: none;
        background: #000000;
        border-style: outset;
        color: #ffffff;
    }
}

.btn--dark {
    color: #ffffff;
    background: #000000;
    border: 1px solid #ffffff;

    &:hover,
    &:focus,
    &:active {
        outline: #000000 solid 1px;
        border-style: outset;
    }
}


.btn--mt {
    margin-top: 40px;
}

.btn--mt20 {
    margin-top: 20px;
}

.btn--d-none {

    @media(min-width: 992px) {
        display: none;
    }
}