.list {    
    list-style-type: none;
    padding-left: 0;

    &--flex {
        display: flex;
        flex-wrap: wrap;
    }

    &--font-bigger {
        padding-left: 30px;
        font-family: 'Circe-Regular';
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;

        @media(min-width: 576px) {
            font-size: 19px;
        }

        @media(min-width: 768px) {
            font-size: 21px;
        }
    }

    &--margin {
        margin-top: 40px;
    }

    &__item {
        position: relative;

        &--margin {
            &:not(:first-child) {
                margin-top: 20px;
            }
        }

        &:before {
            content: "";
            position: absolute;
            left: -30px;
            width: 14px;
            height: 100%;
        }

        &--check {

            &:before {
                background: url(../img/icons/check.svg) no-repeat center;
                background-size: contain;
            }
        }
        &--cross {

            &:before {
                background: url(../img/icons/cross.svg) no-repeat;
                background-size: contain;
            }
        }
    }

    &--service-descr {
        padding-left: 30px;
        font-family: 'Circe-Light';
        font-weight: 300;
        font-size: 18px;
        line-height: 2.16;

        .list__item {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                left: -30px;
                width: 14px;
                height: 100%;
                background: url(../img/icons/check.svg) no-repeat center;
                background-size: contain;
            }
        }
    }

    &--materials-descr {
        padding-left: 30px;
        font-family: 'Circe-Regular';
        font-weight: 400;
        font-size: 16px;
        line-height: 2;

        .list__item {
            position: relative;

            &--flex-item {
                width: 100%;
            }            

            &:before {
                content: "";
                position: absolute;
                left: -30px;
                width: 14px;
                height: 100%;
            }

            &--check {

                &:before {
                    background: url(../img/icons/check.svg) no-repeat center;
                    background-size: contain;
                }
            }
            &--cross {

                &:before {
                    background: url(../img/icons/cross.svg) no-repeat center;
                    background-size: contain;
                }
            }

            @media(min-width: 576px) {
                &--flex-item {
                    width: 50%;
                }    
            }
        }
    }

    @media(min-width: 576px) {

        &--height {
            height: 4em;
        }

        &--service-descr {
            font-size: 22px;
        }

        .list__item {

            &:before {
                width: 16px;
            }
        }
    }

    @media(min-width: 1700px) {
        &--service-descr {
            font-size: 24px;
        }
    }
}