.icon-svg {
    fill: #ffffff;
}

.logo-svg {
    .logo-text {
        fill: #ffffff;
    }

    .logo-text--dark {
        fill: #000000;
    }
}

.svg-eyelash__left {
    position: absolute;
    top: 0;
    left: 0;
    background: 1px solid black;
}