.text {
    font-family: 'Circe-Regular';    

    &--standart {
        font-size: 16px;
        line-height: 24px;
    }

    &--bold {
        font-family: 'Circe-Bold';
        font-weight: 700;
        font-size: 21px;
        line-height: 1.2; 
    }

    &--emphasize {
        font-size: 21px;
        line-height: 31px;
    }

    &--dark {
        color: #000000;
    }

    &--bigger {
        font-size: 17px;
    }

    &--bottom-line {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -1.25em;
            left: 0;
            width: 32px;
            height: 1.5px;
            background: @color-standart;
        }
    }

    &--huge {
        font-family: 'Circe-Bold';
        font-weight: 700;
        font-size: 60px;
        line-height: 1.5;
    }

    @media(min-width: 576px) {
        &--bigger {
            font-size: 19px;
        }
    }

    @media(min-width: 768px) {
        &--bigger {
            font-size: 21px;
        }
    }

    @media(min-width: 1200px) {
        &--huge {
            font-size: 72px;
        }
    }

    @media(min-width: 768px) {

        &--emphasize {
            font-size: 16px;
            line-height: 24px;
        }
    }
}