
.title--header {
    position: relative;
    font-family: 'Circe-Bold';
    font-size: 42px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 0.6em;
    z-index: 1;
    
    transform: translateY(120%);
    opacity: 0;
    transition: all 0.8s ease;
}

.title--header._active {
    transform: translateY(0);
    opacity: 1;
}

.title__description {
    font-family: 'Circe-Light';
    font-size: 21px;
    line-height: 24px;
    color: #FFFFFF;

    transform: translateY(120%);
    opacity: 0;
    transition: all 0.8s ease;
}

.title__description._active {
    transform: translateY(0);
    opacity: 1;
    transition: all 0.8s ease 0.2s;
}

.subtitle {
    font-family: 'Circe-Bold';
    font-size: 35px;
    line-height: 52px;
    color: #000000;
}

@media(min-width: 576px) {
    .title--header {
        font-size: 55px;
        line-height: 55px;
    } 

    .title__description {
        font-size: 26px;
        line-height: 30px;
    }
}

@media(min-width: 992px) {
    .title--header {
        font-size: 60px;
    line-height: 48px;
    } 

    .title__description {
        font-size: 32px;
        line-height: 38px;
    }
}

@media(min-width: 1150px) {
    .title--header {
        font-size: 64px;
        line-height: 50px;
    } 

    .title__description {
        font-size: 30px;
        line-height: 34px;
    }
}

@media(min-width: 1260px) {
    .title--header {
        font-size: 72px;
        line-height: 60px;
    } 

    .title__description {
        font-size: 35px;
        line-height: 40px;
    }
}