.title {

}

.title--header {
    font-family: 'Circe-Bold';
    font-size: 72px;
    line-height: 60px;
    color: #FFFFFF;
}

.subtitle {
    font-family: 'Circe-Light';
    font-size: 35px;
    line-height: 40px;
    color: #FFFFFF;
}