h2(class="title title--bottom-line title--margin title--d-none-lg")
    | Контакты
section(class="address address--margin" id="contacts")
    .address__map
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20665.543784663907!2d40.94227686996034!3d57.01392136710601!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x414d14361d85d0d5%3A0xe613b79b57545880!2z0YPQuy4g0JbQuNC00LXQu9C10LLQsCwgMjEsINCY0LLQsNC90L7QstC-LCDQmNCy0LDQvdC-0LLRgdC60LDRjyDQvtCx0LsuLCAxNTMwMDI!5e0!3m2!1sru!2sru!4v1616602201715!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy")
    .address__contacts.address__contacts--pad
        h2.title.title--bottom-line-left.title--pos-left.title--contacts-margin.title--d-block-lg
            | Контакты
        .contacts__elem
            img(src="./img/icons/phone.svg", alt="icon-phone")
            a(href="tel:+79621636644" class="")
                | +7 (962) 163-66-44
        .contacts__elem
            img(src="./img/icons/location.svg", alt="icon-location")
            p
                | Иваново, ул. Жиделева 21 (Дербенев Центр) офис 301
        .contacts__elem
            img(src="./img/icons/clock.svg", alt="icon-clock")
            p
                | Режим работы: Пн—Сб, 10:00 — 19:00
        .contacts__elem
            img(src="./img/icons/insta.svg", alt="icon-insta")
            a(href="#" class="")
                | Antipinastudio
.btn__wrapper.btn__wrapper--mobile
    button(class="btn btn--light btn--size btn--mt20 btn--size" type="button")
        | ЗАПИСЬ
    button(class="btn btn--dark btn--size btn--d-none" type="button")
        | бесплатная консультация