h2(class="title title--bottom-line title--margin" id="comments")
    | Отзывы
section.comments.comments__wrapper
    .comments__slider
        +commentCard("Салон который я могу ответственно рекомендовать друзьям и знакомым. И главное с каждым годом уровень их растёт. В студии всегда чисто, стерильно и уютно как будто приходишь к старым друзьям.", "Ксения Антипина", "20.02.2021")
        +commentCard("Салон который я могу ответственно рекомендовать друзьям и знакомым. И главное с каждым годом уровень их растёт. В студии всегда чисто, стерильно и уютно как будто приходишь к старым друзьям.", "Ксения Антипина", "20.02.2021")
        +commentCard("Салон который я могу ответственно рекомендовать друзьям и знакомым. И главное с каждым годом уровень их растёт. В студии всегда чисто, стерильно и уютно как будто приходишь к старым друзьям.", "Ксения Антипина", "20.02.2021")
        +commentCard("Салон который я могу ответственно рекомендовать друзьям и знакомым. И главное с каждым годом уровень их растёт. В студии всегда чисто, стерильно и уютно как будто приходишь к старым друзьям.", "Ксения Антипина", "20.02.2021")
        +commentCard("Салон который я могу ответственно рекомендовать друзьям и знакомым. И главное с каждым годом уровень их растёт. В студии всегда чисто, стерильно и уютно как будто приходишь к старым друзьям.", "Ксения Антипина", "20.02.2021")
        +commentCard("Салон который я могу ответственно рекомендовать друзьям и знакомым. И главное с каждым годом уровень их растёт. В студии всегда чисто, стерильно и уютно как будто приходишь к старым друзьям.", "Ксения Антипина", "20.02.2021")
    a(href="" class="btn btn--dark btn--size-narrow btn--mt20 btn--size btn-d-none-small btn--center")
        | Все отзывы