footer.nav-helper.nav-helper--margin
    .nav-helper__item.nav-helper__item--documents
        span ANTIPINA STUDIO, 2021
        a(href="#")  Политика конфидециальности
        a(href="#")  Документы
    .nav-helper__item.nav-helper__item--ancors
        a(href="#masters") Мастера
        a(href="#proposals") Акции
        a(href="#services") Услуги
        a(href="#comments") отзывы
        a(href="#contacts") контакты
    .nav-helper__item.nav-helper__item--insta
        img(src="./img/icons/insta.svg", alt="icon-insta")
        a(href="#" class="")
            | Antipinastudio
