h2.title.title--bottom-line.title--margin
    | Наш инстаграм
section.insta__wrapper
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
.btn__wrapper.btn__wrapper--mobile
    button(class="btn btn--light btn--size btn--mt20 btn--size" type="button")
        | подписаться
    button(class="btn btn--dark btn--size btn--d-none" type="button")
        | посмотреть

h2(class="title title--bottom-line title--margin" id="proposals")
    | Акции
section.proposals__wrapper
    .aspect-ratio-box
        img(src="img", alt="Proposal" class="aspect-ratio-box-inside")
.btn__wrapper.btn__wrapper--mobile
    button(class="btn btn--light btn--size btn--mt20 btn--size" type="button")
        | ЗАПИСЬ
    button(class="btn btn--dark btn--size btn--d-none" type="button")
        | бесплатная консультация