h2(class="title title--bottom-line title--margin")
    | Мастера
section(class="masters__wrapper" id="masters")                 
    +cardMasters("owner.jpg", "master-portrait-1.jpg", "Ксения Антипина", "Ксения Антипина", "Руководитель, мастер")
    +cardMasters("master1.jpg", "master-portrait-1.jpg", "Ксения Антипина", "Ксения Антипина", "Руководитель, мастер")
    +cardMasters("owner.jpg", "master-portrait-1.jpg", "Ксения Антипина", "Ксения Антипина", "Руководитель, мастер")
    +cardMasters("master1.jpg", "master-portrait-1.jpg", "Ксения Антипина", "Ксения Антипина", "Руководитель, мастер")
