div(class="modal" id="modal")
    .modal__body 
        .modal__content
            span.modal__close
            .modal__photo
                .aspect-ratio-box
                    img(src="img/service-cards/hair-tatoo1.jpg", alt="hair-tatoo")
            .modal__description.modal__description--pad
                h3.modal__title
                    | Волосковая техника
                p.modal__text.text.text--standart.mt-15 
                    | Волосковая техника — это перманентный макияж, который выглядит как настоящие брови. Этот техника очень популярная, потому что добавляет бровям густоту и объём. Мастер прорисовывает каждый отдельный волосок, повторяя естественное направление роста и толщину волос, создавая максимально натуральный вид.
                .modal__price
                    .procedure-description.mt-30
                        p.procedure-description__price
                            | Цена:
                            span от 7 000  ₽                    
                        p.procedure-description__duration
                            | Время процедуры: 
                            span ~ 2 часа
                .modal__button.btn__wrapper--margin-small
                        button(class="btn btn--light btn--size-header" type="button")
                            | ЗАПИСЬ
                        button(class="btn btn--dark btn--size-header" type="button")
                            | бесплатная консультация