h2.title.title--d-none.title--bottom-line.title--margin
    | Сертификаты

section.sertificates.sertificates__wrapper
    +cardSertificate('sertificate.jpg', 'Сертификат BACKTAGE', 'Сертификат BACKTAGE')
    +cardSertificate('sertificate.jpg', 'Сертификат BACKTAGE', 'Сертификат BACKTAGE')
    +cardSertificate('sertificate.jpg', 'Сертификат BACKTAGE', 'Сертификат BACKTAGE')
    +cardSertificate('sertificate.jpg', 'Сертификат BACKTAGE', 'Сертификат BACKTAGE')
    +cardSertificate('sertificate.jpg', 'Сертификат BACKTAGE', 'Сертификат BACKTAGE')