h2(class="title title--d-none title--bottom-line title--margin")
    | Услуги

section(class="service service__wrapper" id="services")
    +cardService("color-brows.jpg", "Оформление и окрашивание бровей", "Оформление и окрашивание бровей")
    +cardService("microblending-brows.jpg", "Микроблейдинг бровей и татуаж", "Микроблейдинг бровей и татуаж")
    +cardService("tatoo-brows.jpg", "Татуаж бровей в технике «напыления»", "Татуаж бровей в технике «напыления»")
    +cardService("tatoo-lips.jpg", "Татуаж губ акварельная техника", "Татуаж губ акварельная техника")
    +cardService("microblending-tatoo.jpg", "Микроблейдинг бровей и татуаж", "Микроблейдинг бровей и татуаж")
    +cardService("tatoo-eyelash.jpg", "Татуаж стрелки и меж-реснички", "Татуаж стрелки и меж-реснички")