section.section-makeup__wrapper.section-makeup__wrapper--colored.section-makeup__wrapper--pad.section-makeup__wrapper--margin
    .section-makeup__description
        h3.subtitle.title--bottom-line-left
            | Преимущества татуажа глаз #[br(class="br-d-none-mobile")]в Студии Антипиной
        p.text.text--standart.mt-40
            | Всегда индивидуальный выбор техники и цвета #[br]Предварительный эскиз и согласование его с вами
 
        ul.section-makeup__advantages.section-makeup__advantages--pad.section-makeup__advantages--margin
            li 
                img(src="../img/icons/prize.svg", alt="icon-prize")
                p.section-makeup__advantages--title
                    | Мастера-гуру
                p.section-makeup__advantages--text
                    | Виртуозно владеют машинкой. Знают колористику и визаж, разбираются в типажах внешности. Следят за модными тенденциями
            li 
                img(src="../img/icons/techniques.svg", alt="icon-techniques")
                p.section-makeup__advantages--title
                    | Современные техники
                p.section-makeup__advantages--text
                    | Техники татуажа меняются каждый год. Мы следим за изменениями, чтобы сделать процесс нанесения менее травматичным, максимально безболезненным, а результат — красивым
            li 
                img(src="../img/icons/equipment.svg", alt="icon-equipment")
                p.section-makeup__advantages--title
                    | Надёжное оборудование
                p.section-makeup__advantages--text
                    | В нашем арсенале современное немецкое и израильское оборудование
            li 
                img(src="../img/icons/diamond.svg", alt="icon-diamond")
                p.section-makeup__advantages--title
                    | Ожидаемый результат	
                p.section-makeup__advantages--text
                    | Каждая  женщина —  индивидуальна. Каждая работа — это поиск новой красоты. Наша миссия —  воплощать мечты клиенток в жизнь. За результат отвечает лично хозяйка студии Ксения Антипина
    .section-makeup__video
        iframe(width="782" height="439" src="https://www.youtube.com/embed/eM8rNIXdN4I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        //- video(width="782" height="439" controls)
        //-     source(src="movie.mp4" type="video/mp4")
        //-     | Your browser does not support the video tag.

