h2(class="title title--bottom-line title--margin")
    | Выбрать процедуру

section(class="service service__wrapper" id="services")
    +cardService("tatoo-arrows1.jpg", "Татуаж стрелок на глазах", "Татуаж стрелок на глазах")
    +cardService("tatoo-eyelash1.jpg", "Татуаж межресничного пространства ", "Татуаж межресничного пространства ")
    +cardService("tatoo-arrows2.jpg", "Татуаж стрелок с растушёвкой", "Татуаж стрелок с растушёвкой")