section 
    .card-service.card-service--margin
        .card-service__photo
            img(src="../img/service-cards/tatoo-arrows.jpg", alt="Татуаж стрелок" width="490" height="412" loading="lazy")
        .card-service__description.card-service__description--pad.card-service__description--bg
            h3.subtitle
                | Татуаж стрелок
            p.text.text--standart.mt-15
                | Во время этой процедуры наш мастер обрабатывает пигментом только верхнее веко, формируя на нем чёткую линию, которая выглядит как подводка карандашём. Татуаж стрелок позволяет скорректировать разрез глаз и визуально их увеличить. Ширину и форму линии наш мастер подбирает в индивидуально под ваше лицо.
            .procedure-description.mt-30
                p.procedure-description__price
                    | Цена:
                    span от 4 000 ₽
                p.procedure-description__duration
                    | Время процедуры: 
                    span ~ 2 часа
            .btn__wrapper.btn__wrapper--insta.btn__wrapper--margin-bigger
                button(class="btn btn--light btn--size-header btn--mt20" type="button")
                    | ЗАПИСЬ
                button(class="btn btn--dark btn--size-header" type="button")
                    | консультация

    +serviceCard("tatoo-eyelashes.jpg", "Межресничный татуаж", "Мастер наносит пигмент между ресницами, вдоль линии их роста. В результате взгляд 	становится более выразительным, а ресницы выглядят гуще, плотнее и темнее", "от 4 000 ₽", "~ 2 часа")
    +serviceCard("tatoo-eyelids.jpg", "Татуаж век с растушевкой", "Создаёт эффект нанесенных теней. Особенность техники в том, что сначала пигмент наносят обычным способом, а затем растушевывают чёткие границы. Итог: получаем профессиональный макияж глаз на каждый день", "от 4 000 ₽", "~ 2 часа")