section.section-makeup__wrapper.section-makeup__wrapper--colored.section-makeup__wrapper--pad.section-makeup__wrapper--margin
    .section-makeup__description
        h3.subtitle.title--bottom-line-left
            | Перманентный #[br]макияж глаз поможет
        ul.section-makeup__text.text.text--standart.section-makeup__text--margin
            li 
                | Создать дорогой, #[br(class="br-d-none-mobile")]ухоженный образ
            li 
                | Каждый день #[br(class="br-d-none-mobile")]выглядеть безупречно
            li 
                | Визуально изменить #[br(class="br-d-none-mobile")]размеры и форму глаз
            li 
                | Сделать взгляд ярче #[br(class="br-d-none-mobile")]и выразительней
            li 
                | Скорректировать опущенные уголки глаз
            li 
                | Отказаться от ежедневного кропотливого нанесения косметики
            li 
                | Замаскировать слишком близко или широко посаженные глаза
            li 
                | Осуществить мечту о густых и пышных ресницах
    .section-makeup__video
        iframe(width="782" height="439" src="https://www.youtube.com/embed/eM8rNIXdN4I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        //- video(width="782" height="439" controls)
        //-     source(src="movie.mp4" type="video/mp4")
        //-     | Your browser does not support the video tag.

