section.section-materials__wrapper.section-materials__wrapper--margin
    .section-materials__img.section-materials__img--position
        img(src="../img/materials.jpg", alt="материалы" width="710" height="553")
    .section-materials__descr.section-materials--pad
        h3.subtitle.title--bottom-line-left
            | Какие материалы мы используем
        p.text.text--standart.mt-40
            | Для татуажа глаз в в нашей студии мы применяем только лучшие #[br(class="br-d-none-mobile")]пигменты иностранного 	производства. 
        ul.list.list--materials-descr.list--flex.list--height
            li.list__item.list__item--check.list__item--flex-item
                | Гипоаллергенные
            li.list__item.list__item--check.list__item--flex-item
                | Без токсинов
            li.list__item.list__item--check.list__item--flex-item
                | Дают ожидаемый цвет
            li.list__item.list__item--check.list__item--flex-item
                | Не тускнеют со временем
        p.subtitle--colored.mt-50
            | Противопоказания:

        ul.list.list--materials-descr.mt-20
            li.list__item.list__item--cross
                | Беременность и период лактации;
            li.list__item.list__item--cross
                | Заболевание сахарным диабетом;
            li.list__item.list__item--cross
                | Склонность к образованию келоидных рубцов;
            li.list__item.list__item--cross
                | Нарушения свертываемости крови; 
            li.list__item.list__item--cross
                | Конъюнктивит.