// Base
@import "../less/base/_fonts.less";
@import "../less/base/_variables.less";
@import "../less/base/_margins.less";

// sections
@import "../less/sections/_content-container.less";
@import "../less/sections/_header.less";

// Blocks
@import "../less/blocks/_nav.less";
@import "../less/blocks/_contacts.less";

// Elements
@import "../less/elements/_svg.less";
@import "../less/elements/_icon.less";
@import "../less/elements/_img.less";
@import "../less/elements/_title.less";
@import "../less/elements/_logo.less";


* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-size: 16px;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, p {
    margin: 0;
}

.d-flex {
    display: flex;
}

.flex-no-wrap {
    flex-wrap: nowrap;
}

.br-d-none {
    display: none;

    @media(min-width: 1150px) {
        display: block;
    }
}