mixin cardService(img, alt, title)
    .service-card
        .aspect-ratio-box
            img(src="../img/service-cards/"+ img, alt=""+ alt width="390" height="351" class="service-card__bg")
            .aspect-ratio-box-inside
                h3.service-card__title.service-card__title--light
                    | #{title}
                button(class="btn btn--light btn--size btn--mt20 btn--size-small" type="button")
                    | ЗАПИСЬ

mixin cardSertificate(img, alt, title)
    .sertificate-card
        .aspect-ratio-box
            img(src="../img/sertificate/"+ img, alt=""+ alt width="390" height="351" class="sertificate-card__bg")
            .aspect-ratio-box-inside
                h3.sertificate-card__title.sertificate-card__title--light
                    | #{title}