extends ../layouts/main.pug

block variables 
    -var title = "Микроблейдинг бровей";
    -
        menuAsideItems = [
            {"name": "Брови", "url" : "#"},
            {"name": "Глаза", "url" : "#"},
            {"name": "Губы", "url" : "#"},
            {"name": "Удаление татуажа", "url" : "#"},
            {"name": "Татуировки", "url" : "#"},
            {"name": "Пирсинг", "url" : "#"}
        ];

block content 

    .content-container.d-flex.flex-no-wrap
        include ../sections/_nav-aside.pug

        main.content-container__main
            header.header
                .header__img 
                    img(src="../img/big-size/brows-tatoo-mixed-bg.jpg", alt="" class="img img-stopper")

                include ../sections/_contacts.pug

                .header__title.header__title--width-wider
                    h2.title--header-service.anim-item._anim-no-hide
                        | Татуаж бровей в смешанной #[br(class="br-d-none-lg")]технике: растушёвка + волоски
                    p.title__description.anim-item._anim-no-hide
                        | Безупречные брови, которые выглядят модно и естественно
                    .procedure-description.procedure-description--light.mt-45
                        p.procedure-description__price
                            | Цена:
                            span от 7 000  ₽                    
                        p.procedure-description__duration
                            | Время процедуры: 
                            span ~ 2 часа
                    .btn__wrapper.btn__wrapper--row.btn__wrapper--margin
                        button(class="btn btn--light btn--size-header btn--mt20" type="button")
                            | ЗАПИСЬ
                        button(class="btn btn--dark btn--size-header" type="button")
                            | бесплатная консультация
            include ../sections/brows/mixed/_about.pug
            include ../sections/brows/mixed/_tatoo-help.pug
            include ../sections/service/_insta.pug
            section.section-duration.section-duration--margin

                p.section-duration__text.section-duration__text--pos5 
                    span до 2
                    span лет
                    span держится результат

                .section-duration__img.section-duration__img--position.section-duration__img--size
                    img(src="./img/circle/brows-mixed.png", alt="" width="627" height="627" loading="lazy")
                    svg(version="1.1" width="339" height="75" viewBox="0 0 334 70" fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:ev="http://www.w3.org/2001/xml-events" class="svg-brows-mixed__left" preserveAspectRatio="none")
                        defs 
                            marker( id="MarkerCircle"  refX="4" refY="4" markerUnits="userSpaceOnUse" markerWidth="8" markerHeight="8" orient="auto")
                                circle(cx="4" cy="4" r="4" fill="black")
                        path(d="M0 1 H265 L333.5 69.5" stroke="black" stroke-dasharray="15 5" style=" marker-end: url(#MarkerCircle)")
                    svg(version="1.1" width="262" height="151" viewBox="0 0 262 151" fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:ev="http://www.w3.org/2001/xml-events" class="svg-brows-mixed__right" preserveAspectRatio="none")
                        defs
                            marker( id="MarkerCircle1"  refX="4" refY="4" markerUnits="userSpaceOnUse" markerWidth="8" markerHeight="8" orient="auto")
                                circle(cx="4" cy="4" r="4" fill="black")
                        path(d="M261.5 150.5L151 150.5 L4 4" stroke="black" stroke-dasharray="15 5" style=" marker-end: url(#MarkerCircle1)")
                
                p.section-duration__text.section-duration__text--pos5 
                    span 1 месяц
                    span через
                    span требуется обязательная коррекция татуажа
                    
            
            include ../sections/brows/blending/_stages.pug
            include ../sections/service/_masters.pug
            include ../sections/_comments.pug
            include ../sections/brows/blending/_answers.pug
            include ../sections/brows/mixed/_form.pug

            include ../sections/_footer.pug

    include ../sections/_svg.pug