extends ../layouts/main.pug

block variables 
    -var title = "Main page";
    -
        menuAsideItems = [
            {"name": "Брови", "url" : "#"},
            {"name": "Глаза", "url" : "#"},
            {"name": "Губы", "url" : "#"},
            {"name": "Удаление татуажа", "url" : "#"},
            {"name": "Татуировки", "url" : "#"},
            {"name": "Пирсинг", "url" : "#"}
        ];

block content 

    .content-container.d-flex.flex-no-wrap
        include ../sections/_nav-aside.pug

        main.content-container__main
            header.header
                .header__slider 
                    img(src="../img/big-size/portraite-main-page.jpg", alt="" class="img img-stopper")
                    img(src="../img/big-size/portraite-main-page.jpg", alt="" class="img img-stopper")
                    img(src="../img/big-size/portraite-main-page.jpg", alt="" class="img img-stopper")

                include ../sections/_contacts.pug

                .header__title
                    h2.title--header.anim-item._anim-no-hide
                        | Подчеркнём неуловимое
                    p.title__description.anim-item._anim-no-hide
                        | Подчеркнём притягательность и естественную #[br(class="br-d-none")] красоту вашего лица
            include ../sections/_about.pug

            h2.title.title--d-none.title--bottom-line.title--margin
                | Услуги

            section.service.service__wrapper
                +cardService("color-brows.jpg", "Оформление и окрашивание бровей", "Оформление и окрашивание бровей")
                +cardService("microblending-brows.jpg", "Микроблейдинг бровей и татуаж", "Микроблейдинг бровей и татуаж")
                +cardService("tatoo-brows.jpg", "Татуаж бровей в технике «напыления»", "Татуаж бровей в технике «напыления»")
                +cardService("tatoo-lips.jpg", "Татуаж губ акварельная техника", "Татуаж губ акварельная техника")
                +cardService("microblending-tatoo.jpg", "Микроблейдинг бровей и татуаж", "Микроблейдинг бровей и татуаж")
                +cardService("tatoo-eyelash.jpg", "Татуаж стрелки и меж-реснички", "Татуаж стрелки и меж-реснички")

            h2.title.title--d-none.title--bottom-line.title--margin
                | Сертификаты

            section.sertificates.sertificates__wrapper
                +cardSertificate('sertificate.jpg', 'Сертификат BACKTAGE', 'Сертификат BACKTAGE')
                +cardSertificate('sertificate.jpg', 'Сертификат BACKTAGE', 'Сертификат BACKTAGE')
                +cardSertificate('sertificate.jpg', 'Сертификат BACKTAGE', 'Сертификат BACKTAGE')
                +cardSertificate('sertificate.jpg', 'Сертификат BACKTAGE', 'Сертификат BACKTAGE')
                +cardSertificate('sertificate.jpg', 'Сертификат BACKTAGE', 'Сертификат BACKTAGE')
                
    include ../sections/_svg.pug