extends ../layouts/main.pug

block variables 
    -var title = "Main page";
    -
        menuAsideItems = [
            {"name": "Брови", "url" : "#"},
            {"name": "Глаза", "url" : "#"},
            {"name": "Губы", "url" : "#"},
            {"name": "Удаление татуажа", "url" : "#"},
            {"name": "Татуировки", "url" : "#"},
            {"name": "Пирсинг", "url" : "#"}
        ];

block content 

    .content-container.d-flex.flex-no-wrap
        include ../sections/_nav-aside.pug

        main.content-container__main
            header.header
                .header__slider 
                    img(src="../img/big-size/portraite-main-page.jpg", alt="" class="img img-stopper")
                    img(src="../img/big-size/portraite-main-page.jpg", alt="" class="img img-stopper")
                    img(src="../img/big-size/portraite-main-page.jpg", alt="" class="img img-stopper")

                include ../sections/_contacts.pug

                .header__title
                    h2.title.title--header.anim-item._anim-no-hide
                        | Подчеркнём неуловимое
                    p.title__description.anim-item._anim-no-hide
                        | Подчеркнём притягательность и естественную #[br(class="br-d-none")] красоту вашего лица
            include ../sections/_about.pug

            section.service.service__wrapper
                .service-card
                    .aspect-ratio-box
                        img(src="../img/service-cards/color-brows.jpg", alt="Оформление и окрашивание бровей" width="390px" height="351px" class="service-card__bg")
                        .aspect-ratio-box-inside
                            h3.service-card__title.service-card__title--light
                                | Оформление и окрашивание бровей
                            button(class="btn btn--light btn--size" type="button")
                                | ЗАПИСЬ
    
    include ../sections/_svg.pug