extends ../layouts/main.pug

block variables 
    -var title = "Main page";
    -
        menuAsideItems = [
            {"name": "Брови", "url" : "#"},
            {"name": "Глаза", "url" : "#"},
            {"name": "Губы", "url" : "#"},
            {"name": "Удаление татуажа", "url" : "#"},
            {"name": "Татуировки", "url" : "#"},
            {"name": "Пирсинг", "url" : "#"}
        ];

block content 

    .content-container.d-flex
        nav.nav.nav-aside.nav-aside--pad
            logo 
                img(src="img/Logo.png" alt="Логотип")
            ul.nav__list.nav__list--bottom-line.nav__list--pad.mt-70
                for item in menuAsideItems 
                    li.nav__item 
                        a(href="" + item.url class="nav__link")
                            | #{item.name}
        main.content-container__main
            header.header
                .contacts-area.contacts--sticky
                    svg(class="icon" width="16px" height="16px") 
                        use(xlink:href="#icon-insta")
                    address.address-office
                    address.phone

    
    
    //- SVG
    svg(xmlns="http://www.w3.org/2000/svg" style="display: none")
        symbol(id="icon-insta" width="16" height="16" viewBox="0 0 16 16" )
            path(d="M0 0V16H16V0H0ZM7.97203 12.4755C5.50117 12.4755 3.4965 10.4615 3.4965 7.99068C3.4965 5.51981 5.50117 3.51515 7.97203 3.51515C10.4522 3.51515 12.4569 5.51981 12.4569 7.99068C12.4569 10.4615 10.4522 12.4755 7.97203 12.4755ZM13.296 3.56177C12.8019 3.56177 12.4009 3.16084 12.4009 2.66667C12.4009 2.17249 12.8019 1.77156 13.296 1.77156C13.7902 1.77156 14.1911 2.17249 14.1911 2.66667C14.1911 3.16084 13.7902 3.56177 13.296 3.56177Z")
            path(d="M7.97204 10.648C9.43965 10.648 10.6294 9.4583 10.6294 7.99069C10.6294 6.52308 9.43965 5.33334 7.97204 5.33334C6.50443 5.33334 5.3147 6.52308 5.3147 7.99069C5.3147 9.4583 6.50443 10.648 7.97204 10.648Z")