extends ../layouts/main.pug

block variables 
    -var title = "Main page";
    -
        menuAsideItems = [
            {"name": "Брови", "url" : "#"},
            {"name": "Глаза", "url" : "#"},
            {"name": "Губы", "url" : "#"},
            {"name": "Удаление татуажа", "url" : "#"},
            {"name": "Татуировки", "url" : "#"},
            {"name": "Пирсинг", "url" : "#"}
        ];

block content 

    .content-container.d-flex.flex-no-wrap
        nav.nav.nav-aside.nav-aside--pad
            logo 
                img(src="img/Logo.png" alt="Логотип")
            ul.nav__list.nav__list--bottom-line.nav__list--pad.mt-70
                for item in menuAsideItems 
                    li.nav__item 
                        a(href="" + item.url class="nav__link")
                            | #{item.name}
        main.content-container__main
            header.header
                .header__slider 
                    img(src="../img/big-size/portraite-main-page.jpg", alt="" class="img img-stopper")
                .contacts.contacts--sticky
                    a(href="#" class="contacts__item icon icon--side-line") 
                        svg(width="16px" height="16px") 
                            use(xlink:href="#icon-insta")
                    address.contacts__item.contacts__location
                        svg(width="12px" height="16px") 
                            use(xlink:href="#icon-location")
                        | Иваново, ул. Жиделева 21 #[span(class="remark") (Дербенев Центр) офис 301]
                    address.contacts__item.contacts__phone
                        a(href="tel:+79621636644") 
                            | +7 (962) 163-66-44
                        span.remark
                            | Пн—Сб, 10:00 — 19:00
                .header__title
                    h2.title.title--header 
                        | Подчеркнём неуловимое
                    .subtitle 
                        | Подчеркнём притягательность и естественную #[br] красоту вашего лица

    
    
    include ../sections/_svg.pug