extends ../layouts/main.pug

block variables 
    -var title = "Перманентный макияж губ";
    -
        menuAsideItems = [
            {"name": "Брови", "url" : "#"},
            {"name": "Глаза", "url" : "#"},
            {"name": "Губы", "url" : "#"},
            {"name": "Удаление татуажа", "url" : "#"},
            {"name": "Татуировки", "url" : "#"},
            {"name": "Пирсинг", "url" : "#"}
        ];

block content
    .content-container.d-flex.flex-no-wrap
        include ../sections/_nav-aside.pug

        main.content-container__main
            header.header
                .header__img 
                    img(src="../img/big-size/makep-lips-bg.jpg", alt="" class="img img-stopper")

                include ../sections/_contacts.pug

                .header__title
                    h2.title--header.anim-item._anim-no-hide
                        | Перманентный #[br]макияж губ в Иванове
                    p.title__description.anim-item._anim-no-hide
                        | Сочные, сияющие губы для вашего #[br]совершенного образа
                    .procedure-description.procedure-description--light.mt-45
                        p.procedure-description__price
                            | Цена:
                            span 4 000 — 6 000 ₽
                        p.procedure-description__duration
                            | Время процедуры: 
                            span ~ 1,5 - 2 часа
                    .btn__wrapper.btn__wrapper--row.btn__wrapper--margin
                        button(class="btn btn--light btn--size-header btn--mt20" type="button")
                            | ЗАПИСЬ
                        button(class="btn btn--dark btn--size-header" type="button")
                            | бесплатная консультация
            
            include ../sections/lips/_services.pug
            include ../sections/lips/_about.pug
            include ../sections/lips/_tatoo-help.pug
            include ../sections/lips/_stages.pug
            include ../sections/makeup/_materials-section.pug
            include ../sections/makeup/_advantages-section.pug
            include ../sections/lips/_answers.pug
            include ../sections/lips/_procedures.pug
            include ../sections/_form.pug
            include ../sections/_footer.pug

    include ../sections/_svg.pug