extends ../layouts/main.pug

block variables 
    -var title = "Услуги";
    -
        menuAsideItems = [
            {"name": "Брови", "url" : "#"},
            {"name": "Глаза", "url" : "#"},
            {"name": "Губы", "url" : "#"},
            {"name": "Удаление татуажа", "url" : "#"},
            {"name": "Татуировки", "url" : "#"},
            {"name": "Пирсинг", "url" : "#"}
        ];

block content 

    .content-container.d-flex.flex-no-wrap
        include ../sections/_nav-aside.pug

        main.content-container__main
            header.header
                .header__img 
                    img(src="../img/big-size/tatoo-arrows-shadow-bg.jpg", alt="" class="img img-stopper")

                include ../sections/_contacts.pug

                .header__title.header__title--width
                    h2.title--header-service.anim-item._anim-no-hide
                        | Татуаж стрелок #[br]с растушевкой
                    .procedure-description.procedure-description--light
                        p.procedure-description__price
                            | Цена:
                            span от 6 000 ₽
                        p.procedure-description__duration
                            | Время процедуры: 
                            span ~ 2 часа
                    .btn__wrapper.btn__wrapper--row.btn__wrapper--margin
                        button(class="btn btn--light btn--size-header btn--mt20" type="button")
                            | ЗАПИСЬ
                        button(class="btn btn--dark btn--size-header" type="button")
                            | бесплатная консультация
            include ../sections/arrows-shadow/_about.pug
            include ../sections/service/_insta.pug

            section.section-duration.section-duration--margin

                p.section-duration__text.section-duration__text--pos3 
                    span 5
                    span лет
                    span сохраняется #[br] эффект процедуры

                .section-duration__img.section-duration__img--position.section-duration__img--size
                    img(src="./img/circle/arrows-shadow.png", alt="" width="627" height="627" loading="lazy")
                    svg(version="1.1" width="418" height="228" viewBox="0 0 418 228" fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:ev="http://www.w3.org/2001/xml-events" class="svg-arrows-shadow__left" preserveAspectRatio="none")
                        defs 
                            marker( id="MarkerCircle"  refX="4" refY="4" markerUnits="userSpaceOnUse" markerWidth="8" markerHeight="8" orient="auto")
                                circle(cx="4" cy="4" r="4" fill="black")
                        path(d="M0 1H133L417 227.5" stroke="black" stroke-dasharray="15 5" style=" marker-end: url(#MarkerCircle)")
                    svg(version="1.1" width="428" height="170" viewBox="0 0 428 170" fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        xmlns:ev="http://www.w3.org/2001/xml-events" class="svg-arrows-shadow__right" preserveAspectRatio="none")
                        defs
                            marker( id="MarkerCircle1"  refX="4" refY="4" markerUnits="userSpaceOnUse" markerWidth="8" markerHeight="8" orient="auto")
                                circle(cx="4" cy="4" r="4" fill="black")
                        path(d="M428 169L246.873 169L4 4" stroke="black" stroke-dasharray="15 5" style=" marker-end: url(#MarkerCircle1)")
                
                p.section-duration__text.section-duration__text--pos3 
                    span 1 месяц
                    span через
                    span требуется обязательная коррекция татуажа

                    
            include ../sections/service/_masters.pug
            include ../sections/_comments.pug
            include ../sections/service/_answers.pug
            include ../sections/service/_form.pug

            include ../sections/_footer.pug

    include ../sections/_svg.pug