section.block-about.block-about--margin
    img(src="../img/service-cards/tatoo-eyelash-inner.jpg", alt="tatoo-eyelash-inner" width='730' height="700" class="block-about__photo")
    .block-about__description
        h2.subtitle.subtitle--changed.title--bottom-line-left
            | Что такое межресничный татуаж и что даёт эта процедура
        p.text.text--standart.text--dark.mt-45
            | Межресничный татуаж — нанесение пигмента по линии роста ресниц и в пространстве между ними. Красиво и точно рисовать тонкие линии карандашом и жидкой подводкой удаётся не всем. Выход — сделать это у мастера и надолго. Межресничный татуаж смотрится натурально, делает глаза более выразительными, а ресницы – густыми.
        
        ul.list.list--service-descr
            +listService("Отказ от карандаша и подводки")
            +listService("Свобода от косметики на отдыхе")
            +listService("Больше времени на утренний сон")
            +listService("Альтернатива наращиванию ресниц")
            +listService("Коррекция формы глаз")
            +listService("Лифтинг-эффект в области глаз")