h2.title.title--bottom-line.title--margin
    | Ответы на частые вопросы
section.section-wrapper--questions 
    button(type="button" class="btn--question collapsible")
        | Хотите засыпать и просыпаться с идеальным макияжем?
    .block-answer
        p.text.text--standart
            | Тату татуаж межресничного пространства век стойкий. Кожа на веках обновляются не так быстро, как губах, потому качественный татуаж держится от 3 до 5 лет. Сойти быстрее татуаж может, если вы часто ходите в сауну или баню, загораете, делаете пилинг. У молодых девушек пигмент может вымываться быстрее из-за более быстрого обмена веществ.
    button(type="button" class="btn--question collapsible")
        | Какие материалы и оборудование вы используете? 
    .block-answer
        p.text.text--standart
            | Мастера нашей студии используют косметические средства от лучших мировых производителей. Красители не токсичны, проверены офтальмологами и не вызывают аллергию.
    button(type="button" class="btn--question collapsible")
        | Какие есть противопоказания к процедуре? 
    .block-answer
        ol.list--standart.text.text--standart
            li.list__item Беременность и грудное вскармливание; 	
            li.list__item Склонность к образованию келоидных рубцов; 	
            li.list__item Замедленная свертываемость крови; 	
            li.list__item Конъюнктивит. 

    button(type="button" class="btn--question collapsible")
        | Как проходит восстановление? 
    .block-answer
        p.text.text--standart
            | Во время процедуры веки краснеют и слегка отекают. Это нормальная реакция тканей на введение пигмента. Этого не нужно опасаться. Всё пройдёт через пару дней. На коже также образуется корочка. Её нельзя отрывать, потому что можно повредить ресницы и создать непрокрашенные участки. Корочки отвалятся сами в течение 1,5 недель. Чтобы смягчить кожу, смазывайте её заживляющими средствами. Подойдет пантенол.
        p.text.text--standart
            | После межресничного татуажа нельзя 2 недели посещать сауны, солярии и бассейн. Постарайтесь аккуратно умываться и не используйте декоративную косметику. 
