h2.title.title--bottom-line.title--margin
    | Ответы на частые вопросы
section.section-wrapper--questions 
    button(type="button" class="btn--question collapsible")
        | Хотите засыпать и просыпаться с идеальным макияжем?
    .block-answer
        p.text.text--standart
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat neque facere nesciunt earum enim. Distinctio at accusantium quod debitis? Et, quos eaque. Vero sint illum magnam facilis blanditiis quam ad odio aliquid repellat, sunt libero obcaecati placeat suscipit, eligendi numquam pariatur tempore distinctio. Assumenda ipsa qui ut explicabo, quia cum.
    button(type="button" class="btn--question collapsible")
        | Какие материалы и оборудование вы используете? 
    .block-answer
        p.text.text--standart
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat neque facere nesciunt earum enim. Distinctio at accusantium quod debitis? Et, quos eaque. Vero sint illum magnam facilis blanditiis quam ad odio aliquid repellat, sunt libero obcaecati placeat suscipit, eligendi numquam pariatur tempore distinctio. Assumenda ipsa qui ut explicabo, quia cum.
    button(type="button" class="btn--question collapsible")
        | Какие есть противопоказания к процедуре? 
    .block-answer
        p.text.text--standart
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat neque facere nesciunt earum enim. Distinctio at accusantium quod debitis? Et, quos eaque. Vero sint illum magnam facilis blanditiis quam ad odio aliquid repellat, sunt libero obcaecati placeat suscipit, eligendi numquam pariatur tempore distinctio. Assumenda ipsa qui ut explicabo, quia cum.
    button(type="button" class="btn--question collapsible")
        | Как проходит восстановление? 
    .block-answer
        p.text.text--standart
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat neque facere nesciunt earum enim. Distinctio at accusantium quod debitis? Et, quos eaque. Vero sint illum magnam facilis blanditiis quam ad odio aliquid repellat, sunt libero obcaecati placeat suscipit, eligendi numquam pariatur tempore distinctio. Assumenda ipsa qui ut explicabo, quia cum.