h2(class="title title--bottom-line title--margin")
    | Наши мастера
.section-wrapper--masters
    p.subtitle
        | Хотите засыпать и просыпаться с идеальным макияжем?
    p.text.text--standart.mt-30
        | Отнеситесь внимательно к выбору мастера. Наши мастера владеют разными техниками и могут не просто подчеркнуть ресницы и взгляд, но и исправить проблемы внешности: например асимметричное расположение глаз или нависание век.
section(class="specialist__wrapper specialist__wrapper--margin" id="masters")
    +cardSpecialist("Ksenya-master.jpg", "Ксения Антипина", "Чемпион 2018 года по татуажу Мастер, коуч, хозяйка студии", "от 6 000 ₽")
    +cardSpecialist("Nataly-master.jpg", "Мастер Наталья", "Чемпион 2018 года по татуажу Мастер, коуч, хозяйка студии", "от 4 000 ₽")
