h2.title.title--bottom-line.title--margin
    | Этапы процедуры

section.section-stages 
    .section-stages__item.text.text--standart
        | Снятие макияжа с #[br]глаз и вокруг них
    .section-stages__item.text.text--standart
        | Очищение и #[br]дезинфекция кожи
    .section-stages__item.text.text--standart
        | Выбор техники и цвета, который #[br]гармонично сочетается с оттенком #[br]ваших ресниц, бровей и кожи
    .section-stages__item.text.text--standart
        | Обезболивание кремом, #[br]спреем или гелем
    .section-stages__item.text.text--standart
        | Введение красителя #[br]под кожу
    .section-stages__item.text.text--standart
        | Финальная обработка век дезинфицирующим и противовоспалительным средством