h2.title.title--bottom-line.title--margin
    | Ответы на частые вопросы
section.section-wrapper--questions 
    button(type="button" class="btn--question collapsible")
        | Кому подойдёт татауж бровей?
    .block-answer
        p.text.text--standart
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis excepturi quaerat vitae, tempora ducimus mollitia aut deserunt quam officiis neque nihil inventore suscipit repellendus rem repudiandae. Illo molestiae ut vitae blanditiis animi itaque culpa, aut ad nostrum! Placeat distinctio quaerat harum esse eius laboriosam fugit. Dolor aut tenetur animi harum.
    button(type="button" class="btn--question collapsible")
        | Когда нельзя делать перманентный перманентный макияж бровей?
    .block-answer
        p.text.text--standart
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis excepturi quaerat vitae, tempora ducimus mollitia aut deserunt quam officiis neque nihil inventore suscipit repellendus rem repudiandae. Illo molestiae ut vitae blanditiis animi itaque culpa, aut ad nostrum! Placeat distinctio quaerat harum esse eius laboriosam fugit. Dolor aut tenetur animi harum.
    button(type="button" class="btn--question collapsible")
        | Как получить идеальный татуаж бровей?
    .block-answer
        p.text.text--standart
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis excepturi quaerat vitae, tempora ducimus mollitia aut deserunt quam officiis neque nihil inventore suscipit repellendus rem repudiandae. Illo molestiae ut vitae blanditiis animi itaque culpa, aut ad nostrum! Placeat distinctio quaerat harum esse eius laboriosam fugit. Dolor aut tenetur animi harum.

    button(type="button" class="btn--question collapsible")
        | Сколько стоит перманентный макияж бровей? 
    .block-answer
        p.text.text--standart
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis excepturi quaerat vitae, tempora ducimus mollitia aut deserunt quam officiis neque nihil inventore suscipit repellendus rem repudiandae. Illo molestiae ut vitae blanditiis animi itaque culpa, aut ad nostrum! Placeat distinctio quaerat harum esse eius laboriosam fugit. Dolor aut tenetur animi harum.
