h2.title.title--bottom-line-left.title--margin.title--pos-left
    | Работаем в современных и #[br(class="br-d-none-mobile")]безопасных техниках татуажа

section
    +serviceCard("tatoo-brows.jpg", "Пудровое напыление", "Эта техника придётся по душе любительницам натуральных нежных образов. Пудровое напыление придаёт бровям легкий ненавязчивый оттенок и сохраняет их природную красоту.", "от 4 000 ₽", "~ 2 часа")
    +serviceCard("microblending-brows.jpg", "Микроблейдинг бровей", "В этой технике мастер вручную вводит пигмент под кожу, чтобы получились аккуратные тщательно прорисованные брови, которые не отличить от натуральных.", "от 4 000 ₽", "~ 2 часа")
    +serviceCard("microblending-tatoo.jpg", "Комбинированная техника: волоски + растушёвка", "В этой технике мастер вручную вводит пигмент под кожу, чтобы получились аккуратные тщательно прорисованные брови, которые не отличить от натуральных.", "от 4 000 ₽", "~ 2 часа")
    +serviceCard("tatoo-eyelash.jpg", "Аппаратный волосковый татуаж бровей", "В этой технике мастер вручную вводит пигмент под кожу, чтобы получились аккуратные тщательно прорисованные брови, которые не отличить от натуральных.", "от 4 000 ₽", "~ 2 часа")