h2.title.title--bottom-line.title--margin
    | Как проходят процедуры

section.section-stages 
    .section-stages__item.text.text--standart
        span.text--bold 
            | Предварительная консультация
        | Мы узнаем ваши пожелания и ожидания. #[br(class="br-d-none-mobile")]Подберём форму, пигменты, подходящую технику. #[br(class="br-d-none-mobile")]Все детали обязательно согласуем с вами
    .section-stages__item.text.text--standart
        span.text--bold 
            | Моделирование формы
        p бровей с учётом особенностей вашей  внешности, цветотипа и всех пожеланий. Мастер выполняет эскиз будущих бровей выбранным пигментом и вносит коррективы, если нужно
    .section-stages__item.text.text--standart
        span.text--bold 
            | Дезинфекция и анестезия
        p Мастер очищает кожу и делает #[br(class="br-d-none-mobile")]обезболивание
    .section-stages__item.text.text--standart
        span.text--bold 
            | Татуаж
        p Мастер делает перманентный макияж #[br(class="br-d-none-mobile")]в выбранной технике по эскизу
    .section-stages__item.text.text--standart
        span.text--bold 
            | Повторная обработка
        p  Мастер наносит уходовый крем