section.block.block--flex.block--margin.block--size
    .block__img.block__img--left.block__img--size
        img(src="../img/service-cards/tatoo-brows1.jpg", alt="материалы" width="710" height="659")
    .block__text.block__text--pad.block__text--size
        h3.subtitle.title--bottom-line-left
            | Татуаж бровей поможет
        ul.list.list--font-bigger.list--margin
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Создать гармоничный образ
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Иметь всегда ухоженное лицо без лишних расходов на косметику
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Получить идеальную форму бровей, которая идёт именно вам
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Сделать брови более густыми
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Надолго забыть о карандаше или краске для бровей
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Скорректировать форму бровей
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Замаскировать шрамы и исправить асимметрию
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Сэкономить не один час на макияже

        