h2(class="title title--bottom-line title--margin")
    | Выбрать процедуру

section(class="service service__wrapper" id="services")
    +cardServiceWide("makeup-lips-1.jpg", "Татуаж губ в акварельной технике", "Татуаж губ в ", "акварельной технике")
    +cardServiceWide("makeup-lips-2.jpg", "Татуаж губ в помадной технике", "Татуаж губ в ", "помадной технике")