h2.title.title--bottom-line-left.title--margin.title--pos-left
    | Популярные варианты #[br(class="br-d-none-mobile")]макияжа губ

section
    +serviceCard("makeup-lips-1.jpg", "Татуаж губ в акварельной технике", "Это бесконтурная техника татуажа. Благодаря послойному нанесению, растушёвке и подбору пигмента, создаётся естественный оттенок губ, без чёткого контура.", "от 4 000 ₽", "~ 2 часа")
    +serviceCard("makeup-lips-2.jpg", "Татуаж губ в помадной технике", "Плотное заполнение губ пигментом с эффектом использования качественной помады. Чтобы получить насыщенный тон, специалист использует один цвет и делает плотную растушевку с выраженным контуром.", "от 4 000 ₽", "~ 2 часа")