h2.title.title--bottom-line.title--margin
    | Как мы делаем татуаж губ
p.text.text--light.text--bigger.text--dark.mt-15.text--box-position.text--box-width.text--align-changed.mb-40
    | Продолжительность процедуры —  примерно 2 часа, включая анестезию. Оптимальный результат даёт выполнение татуажа губ за 2 процедуры с интервалом в 1 месяц.

section.section-stages 
    .section-stages__item.text.text--standart
        p Очищаем и обрабатываем #[br(class="br-d-none-mobile")]дезинфицирующим средством
    .section-stages__item.text.text--standart
        p Подбираем пигмент #[br(class="br-d-none-mobile")]и согласуем с вами
    .section-stages__item.text.text--standart
        p Обезболиваем #[br(class="br-d-none-mobile")]место татуажа
    .section-stages__item.text.text--standart
        p Наносим на губы эскиз. Если нужно, вносим коррективы по вашему желанию
    .section-stages__item.text.text--standart
        p Выполняем #[br(class="br-d-none-mobile")]татуаж
    .section-stages__item.text.text--standart
        p Наносим #[br(class="br-d-none-mobile")]заживляющий крем