section.block.block--flex.block--margin.block--size
    .block__img.block__img--left.block__img--size
        img(src="../img/service-cards/makeup-lips-3.jpg", alt="материалы" width="710" height="659")
    .block__text.block__text--pad.block__text--size
        h3.subtitle.title--bottom-line-left
            | С помощью смешанного татуажа можно
        ul.list.list--font-bigger.list--margin
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Получить максимально естественный натуральный результат
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Создать гармоничный образ и сделать акцент на губах
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Визуально увеличить губы
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Сделать цвет губ более ярким, а форму — чёткой
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Спрятать эстетические дефекты: асимметрию, бледность, шрамы, нечеткий контур
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Сымитировать качественный мэйкап на губах
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Избавиться от необходимости постоянно подкрашивать губы