section.block-about.block-about--margin
    img(src="../img/service-cards/lipstick-1.jpg", alt="card img" width='471' height="572" class="block-about__photo")
    .block-about__description.block-about__description--align.block-about__description--pad.block-about__description--form-changed
        h2.subtitle.subtitle--small
            | Что даёт помадный татуаж
        p.text.text--standart.mt-15
            | Это самая яркая и самая стойкая техника!  Губы плотно заполняются пигментом по всем контуру губ для достижения вау-эффекта. Такой впечатление, что вы накрасили губы качественной помадой, цвет которой вам идеально подходит. Только татуаж не потечёт и не сотрётся, как обычная помада. Его не нужно обновлять после еды, питья или поцелуя.
        ul.list.list--font-bigger.list--margin
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Сочные губы насыщенного или натурального оттенка, который выберете сами
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Идеальная техника для имитации накрашенных помадой губ
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Яркий макияж и в тренажерном зале и утром в своей постели
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Возможность забыть о необходимости краситься
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Экономия на помадах 
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Свободное время, которое вы проведёте не у зеркала
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Идеальное решение, когда нужно исправить асимметрию губ