h2.title.title--bottom-line.title--margin
    | Примеры наших работ
.section-wrapper--insta
    
    .btn__wrapper.btn__wrapper--insta
        button(class="btn btn--light btn--size-header btn--mt20" type="button")
            | ПОДПИСАТЬСЯ
        button(class="btn btn--dark btn--size-header" type="button")
            | ПОСМОТРЕТЬ
section.insta__wrapper.insta__wrapper--margin
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
    .insta-card
        .aspect-ratio-box
            img(src="../img/service-cards/color-brows.jpg", alt="" class="aspect-ratio-box-inside")
.btn__wrapper.btn__wrapper--mobile
    button(class="btn btn--light btn--size btn--mt20 btn--size" type="button")
        | подписаться
    button(class="btn btn--dark btn--size btn--d-none" type="button")
        | посмотреть