section.block.block--flex.block--margin-smaller.block--size.block--pad-bottom.block--bottom-line  
    .block__img.block__img--left.block__img--size-narrow
        img(src="../img/service-cards/lipstick-2.jpg", alt="материалы" width="424" height="505")
    .block__text.block__text--pad.block__text--size
        h3.subtitle.title--bottom-line-left
            | Помадный татуаж подходит всем
        p.text.text--standart.mt-40
            | Но особенно его оценят:
        ul.list.list--font-bigger.list--margin
            li.list__item.list__item--check.list__item--margin
                | Любительницы яркого макияжа и красотки, которые хотят притягивать взгляды;
            li.list__item.list__item--check.list__item--margin
                | Обладательницы губ несовершенной формы: тонких или слишком пухлых, ассиметричных;
            li.list__item.list__item--check.list__item--margin
                | Девушки с бледными губами, без четких очертаний и визуального объёма.