h2.title.title--bottom-line.title--margin
    | Как мы делаем акварельный татуаж

section.section-stages 
    .section-stages__item.text.text--standart
        span.text--bold 
            | Консультация
        p Обсуждаем индивидуальные особенности, выслушиваем ваши пожелания, подбираем оптимальный оттенок
    .section-stages__item.text.text--standart
        span.text--bold 
            | Эскиз
        p Делаем «примерку»: создаём эскиз с помощью косметического карандаша и наносим его на губы
    .section-stages__item.text.text--standart
        span.text--bold 
            | Дезинфекция
        p Очищаем кожу губ антисептическим раствором, скрабом
    .section-stages__item.text.text--standart
        span.text--bold 
            | Обезболивание
        p Местная анестезия избавит вас от неприятных ощущений. При повышенной чувствительности способ анестезии оговариваем индивидуально
    .section-stages__item.text.text--standart
        span.text--bold 
            | Татуаж
        p После обезболивания приступаем к нанесению пигмента. Равномерно прорабатываем каждый участок кожи. Заполняем красителем середину губ. Контур и уголки аккуратно подводим специальным аппаратом с одноразовой тонкой иглой
    .section-stages__item.text.text--standart
        span.text--bold 
            | Обеззараживание
        p Обрабатываем губы антисептиком и заживляющим средством с противовоспалительным действием