section.block-about.block-about--margin
    img(src="../img/service-cards/hair-tatoo1.jpg", alt="card img" width='471' height="524" class="block-about__photo")
    .block-about__description.block-about__description--align.block-about__description--pad.block-about__description--form-changed
        h2.subtitle.subtitle--small
            | Волосковый татуаж бровей
        p.text.text--standart.mt-15
            | Волосковая техника — это перманентный макияж, который выглядит как настоящие брови. Этот техника очень популярная, потому что добавляет бровям густоту и объём. Мастер прорисовывает каждый отдельный волосок, повторяя естественное направление роста и толщину волос, создавая максимально натуральный вид.
        p.text.text--standart
            | Волосковый татуаж — прорыв в перманентном макияже. Игла машинки работает, как швейная игла. Краска вводится в кожу через микропроколы. Проколы быстро заживают без шрамов и рубцов, а полученный оттенок не меняется со временем.
