section.block.block--flex.block--margin.block--size.block--pad-bottom.block--bottom-line   
    .block__text.block__text--flex-order.block__text--pad-left.block__text--size
        h3.subtitle.title--bottom-line-left
            | С помощью волосковой техники можно
        ul.list.list--font-bigger.list--margin
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Придать бровям выразительность и сохранить натуральность
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Визуально увеличить объём и густоту бровей
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Исправить тонкие, редкие брови
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | устранить рубцы, шрамы, проплешины или асимметрию бровей
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Создать брови при их полном отсутствии
            li.list__item.list__item--check.list__item--margin.list__item--pos-top
                | Отказаться от ежедневного подкрашивания карандашами и тушью
    .block__img.block__img--left.block__img--size-narrow.block__img--flex-order
        img(src="../img/service-cards/hair-tatoo2.jpg", alt="материалы" width="491" height="500")